@font-face {
  font-family: 'Jumps Winter';
  src: url('/fonts/Jumps Winter.otf') format('opentype'),
       url('/fonts/Jumps Winter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jumps Winter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  background-color: #f5efe2; 
}

a {
  color: inherit;
  text-decoration: none;
}
